/* Your CSS */

nav{
	margin-left: 7%;

}

body {
	font: normal normal 400 14px/145% "Roboto", Tahoma, Geneva, "Trebuchet MS", Helvetica, sans-serif;
	padding: 0 0 5em 0;
}

h1 {
	font: normal normal 300 3em/140% "Roboto", Tahoma, Geneva, "Trebuchet MS", Helvetica, sans-serif;
	margin: 1em 0 .5em;
}

a {
	color: #6bc32d;
}

a:hover {
	color: #3f7c14;
	text-decoration: none;
}

.container {
	margin: 0 auto;
	width: 1370px;
	max-width: 100%;
}



div.container section {
	margin-top: 120px;
}

div.rest-interface + table {
	clear: both;
}

.rest-api-block {
		background-color: #fcfcfc;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border: 1px solid #ccc;
		border-top-color: #6bc32d;
		box-shadow: 0px 2px 6px #ddd;
		padding: 1em;
		width: 25%;
		float: left;
}

.rest-api-block h2 {
		font-size: 1.4em;
}

.rest-api-block p {
		margin: 0.5em 0 0;
}

.rest-api-block p.sep {
		border-top: 1px dashed #ccc;
		margin-top: 2em;
		padding-top: 1.5em;
}

.rest-api-block p > label {
		color: #a1a1a1;
		display: block;
		margin: 0;
		padding: 0;
}

.rest-api-block p > input {
		background-color: #fafafa;
		border: 1px solid #ddd;
		border-radius: 3px;
		display: block;
		font-size: 1.2em;
		padding: .1em;
		width: 100%;
}



.green_btn {
	width: 45%;
	background-color: #333333;
	background: linear-gradient(to bottom, #66cc33 0%,#339900 100%);
	color: #fff;
	cursor: pointer;
	font: 99% sans-serif;
	line-height: 1.4em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-radius: 3px;
	display: inline-block;
	font-size: 1.2em;
	padding: .1em;
	margin: 0.5em 0 0;
}

th {
	text-align: left;
	border-bottom: 3px solid #ddd;
	height: 3em;
	width:auto;
  }
  
  
td {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	width: auto;
	margin-bottom: 3em;
	height: 2em;
	vertical-align: middle;
}
  
table{
	width:100%;
	margin-top: 10px;
}
  

  
  
/*Design für den Header*/
header {
	background-color: #333333;
	background: linear-gradient(to bottom, #d0d0d0 0%,#f0f0f0 100%);
	border-bottom: 1px solid #ccc;
	color: #333;
	height: 64px;
	width: 100%;
	
	top: 0;
}

header > nav > .logo {
	background: transparent url("../img/world_data-logo.png") no-repeat 0 0%;
	float: left;
	font-size: 2em;
	font-weight: 500;
	line-height: 190px;
	margin-left: 0%;
	margin-right: 0%;
	overflow: hidden;
	width: 150px;
}

header > nav a {
	background-color: transparent;
	color: #666;
	display: block;
	height: 64px;
	line-height: 100px;
	padding: 0 1em;
	text-decoration: none;
	transition: 250ms background-color linear;
}
header > nav #pull {
	float: right;
	margin-top: 35px;
	left: 92%;
	position:fixed;
} 

header > nav > ul > li:hover > a, header > nav a:hover {
	background-color: #ccc;
	color: black;
}
	/*Größeneinstellung für icons auf nav*/
header > nav a > i {
	font-size: 1.5em;
	margin-right: .25em;
}
header > nav > .logo:hover {
	background-color: transparent;
	background-position: 0 -64px;
}
header > nav > ul {
	float:left;
	list-style: none none inside ;
	margin: 0px;
	padding: 0px;
	display: block;
	
}
header> nav > ul > #main_nav{
	position: absolute;
}
header > nav > ul > li {
	position: relative;
	border-right: 1px solid #ccc;
	display: inline-block;
}
header > nav > ul > li:first-child {
	border-left: 1px solid #ccc;
}
  

/*Design für footer */

/*Footer-Line bzw. die Farbe der Schrifte*/

footer {
	border-top: 1px solid #6bc32d;
	color: #666;
	font-size: .9em;
	margin-top: 5em;
	padding: 1em 0;

}
	/*Linke Seite des Footers*/
footer >div.container > .right {
	float: right;
	text-align: right;
}
	/*Rechte Seite des Footers*/
footer >div.container > .left {
	float: left;
	width: 40%;
}

thead{
	color: black;
} 